@model BTdatabasefirst.Models.Nhanvien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm nhân viên mới</h1>

<h4>Nhân viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Mã nhân viên
                <input asp-for="Idnv" class="form-control" />
                <span asp-validation-for="Idnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                Tên nhân viên
                <input asp-for="Tennhanvien" class="form-control" />
                <span asp-validation-for="Tennhanvien" class="text-danger"></span>
            </div>
            <div class="form-group">
                Mã phòng ban
                <select asp-for="Idpb" class="form-control" asp-items="ViewBag.Idpb"></select>
            </div>
            <div class="form-group">
                Mã chức vụ
                <select asp-for="Idcv" class="form-control" asp-items="ViewBag.Idcv"></select>
            </div>
            <div class="form-group">
                Ngày sinh
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                Số điện thoại
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ảnh
                <input asp-for="Avatar" type="file" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

